@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Signika', sans-serif !important;

  
}
.my-bg-color{
  background-color:#fec53c;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.4em;


  
}
.navbar .navbar-nav .nav-link:hover {
background-color: #ffffff;
color: #fff;
}
